{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="content_up">
    <div class="center-column formul">
        <img class="logout_img" src="{% static 'img/bye.png' %}" alt="update">
        
        <h2 id="logout_msg">You have been logged out</h2>
        <small>
            <a href="{% url 'login' %}">Login again</a>
        </small>
    </div>
    <a class="reference" href="https://stories.freepik.com/work">Illustration by Freepik Stories</a>
</div>

{% endblock content %}