{% extends "base.html" %}
{% block content%}
<h1>hello {{user.id}} </h1>


<ul>
    {% for todo_item in all_items%}
       
        {% if todo_item.is_completed %}

            <li>{{todo_item.content}} | {{todo_item.is_completed}}
                <form action="/deleteTodo/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
                <form action="/uncross/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="undo it"/>
                </form>
                <form action="/translate_to_en/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="translate to"/>
                </form>
            </li>  
        
        {% else %}
            
            <li>{{todo_item.content}} | {{todo_item.is_completed}}
                <form action="/deleteTodo/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
                <form action="/cross_off/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Complete it"/>
                </form>
                <form action="/translate_to_en/{{todo_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="translate to"/>
                </form>
            </li>  
        
        {% endif %}
    {% endfor %}
</ul>

<form action="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>

<form action="/showCompleted/" method="get">{% csrf_token %}
    <input type="submit" value="Show completed ones"/>
</form>
<form action="/showUncompleted/" method="get">{% csrf_token %}
    <input type="submit" value="Show uncompleted ones"/>
</form>
<form action="/todolist/" method="get">{% csrf_token %}
    <input type="submit" value="Show all"/>
</form>



{% endblock%}
